---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import AboutIcon from "../icons/AboutIcon.astro";

const imgAlt = "Jesús Lozada";
---

<Layout title="Jesus Lozada - Backend Developer">
	<Header />
	<main>
		<SectionContainer class="pt-36 pb-10" id="home">
			<div class="flex flex-row">
				<img
					class="size-32 rounded-full"
					src="/jesuslozada.webp"
					alt={imgAlt}
				/>
				<div class="ml-12">
					<h2 class="text-3xl font-bold">Hi, I'm</h2>
					<h1 class="text-4xl">
						<span class="text-3xl">name=</span>
						<strong class=`text-[#fac100]`>Jesús</strong>
						[<strong class="text-[#D1FA71]">"Lozada"</strong>]
					</h1>
					<Badge>
						<CodeIcon />
						<p>Back-end Dev</p>
					</Badge>
					<p class="text-pretty mt-4">
						With experience in Python, Java, and JavaScript
						(Node.js), I have a keen interest in architectural
						concepts and design patterns, such as Hexagonal
						Architecture (Ports and Adapters). Based in Bucaramanga,
						Colombia, I'm excited to continue learning and growing
						alongside a development team.
					</p>
				</div>
			</div>
		</SectionContainer>
		<SectionContainer id="projects" class="pt-20">
			<div class="flex flex-row items-center">
				<CodeIcon class="size-10" />
				<h1 class="text-4xl font-bold ml-2">Projects</h1>
			</div>
			<Projects class="flex flex-col" />
		</SectionContainer>
		<SectionContainer id="about" class="pt-20 mt-10">
			<div class="flex flex-row items-center">
				<AboutIcon class="size-10" />
				<h1 class="text-4xl font-bold ml-2">About Me!</h1>
			</div>
			<About />
		</SectionContainer>
	</main>
</Layout>
