<article class="text-pretty flex flex-col-reverse md:space-x-10 md:flex-row mt-2 md:mt-0">
    <div class="w-full md:w-8/12">
        <p>
            Hey there! I'm Jesus, a back-end developer with a focus on the web.
            To me, bringing a project to life with code is like performing
            magic, especially when it comes to a platform as close to people as
            the web.
        </p>
        <p>
            When I'm not coding, I dive into the world of video games, get lost
            in the lyrics of Imagine Dragons – their music always sets the
            perfect mood for me, and escape to fictional worlds full of
            adventure, magic, and drama in books. And let's not forget about
            Undertale – a game that's not just about pixelated graphics, but
            also about heartwarming characters and unexpected life lessons.
        </p>
        <p>
            I always strive to spread positive energy and create a friendly
            atmosphere where everyone can feel motivated and comfortable. My
            mission is to build a space where we can come together to achieve
            goals as a team, never forgetting to enjoy the journey along the
            way. Because hard work doesn't have to be boring!
        </p>
        <p>
            And don't worry, I've never executed a <strong>"delete from"</strong
            > without the <strong>"where"</strong> clause. 😉
        </p>
    </div>
    <div class="w-full flex flex-col items-center md:w-4/12 md:flex-none">
        <img src="/jesuslozadaabout2.webp" alt=""  class="w-2/3 md:w-auto"/>
    </div>
</article>

<style>
    p {
        margin-top: 1.5em;
    }
</style>
