---
import Email from "../icons/Email.astro";

const email = "jesus.lozada.montiel@gmail.com";
---

<div class="w-full max-w-[16rem]">
    <div class="relative">
        <input
            id="emailInput"
            type="text"
            class="click col-span-6 bg-gray-50 border border-gray-300 text-black/90 text-sm rounded-lg block w-full p-2.5 font-bold"
            value={email}
            disabled
            readonly
        />
        <button
            class=" click absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 rounded-lg p-2 inline-flex items-center justify-center"
        >
            <Email class=" size-6"/>
        </button>
    </div>
</div>

<script>
    const buttons = document.querySelectorAll("button.click");

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            if (typeof window !== "undefined") {
                const emailInput = document.getElementById(
                    "emailInput",
                ) as HTMLInputElement | null;
                if (emailInput) {
                    try {
                        navigator.clipboard.writeText(emailInput.value);
                        alert("Email copied to clipboard!");
                    } catch (error) {
                        console.error("Failed to copy email:", error);
                    }
                } else {
                    console.error("Email input element not found!");
                }
            }
        });
    });
</script>
