---
const email = "jeallomo@gmail.com";
---

<div class="flex items-center mt-4">
    <input
        id="emailInput"
        type="text"
        value={email}
        readonly
        class="bg-gray-100 text-gray-700 border border-gray-300 rounded-md px-4 py-2 font-bold"
    />
    <button
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded click"
    >
        Copy
    </button>
</div>

<script>
    const buttons = document.querySelectorAll("button.click");

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            if (typeof window !== "undefined") {
                const emailInput = document.getElementById(
                    "emailInput",
                ) as HTMLInputElement | null;
                if (emailInput) {
                    try {
                        navigator.clipboard.writeText(emailInput.value);
                        alert("Email copied to clipboard!");
                    } catch (error) {
                        console.error("Failed to copy email:", error);
                    }
                } else {
                    console.error("Email input element not found!");
                }
            }
        });
    });
</script>
