---
const { href, name, color} = Astro.props;
---

<a
  href={href}
  role="link"
  download={name}]
  class=`
    inline-flex 
    items-center 
    justify-center 
    gap-2 px-3 py-2 
    space-x-2 
    text-base 
    text-white 
    transition 
    ${color} 
    border border-gray-600 
    text-md 
    hover:border-gray-900 
    max-w-fit rounded-xl 
    active:bg-black`
>
  <slot />
</a>