<!-- component -->
<div class="w-full mx-auto px-5 min-h-sceen">
    <div class="flex flex-col items-center">
        <h2 class="font-bold text-5xl mt-5 tracking-tight">FAQ</h2>
        <p class="text-neutral-500 text-xl mt-3">Frequenty asked questions</p>
    </div>
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span>
                        Are you currently seeking employment opportunities?</span
                    >
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    Yes!
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span> What is your professional experience?</span>
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    Although I haven't worked in a traditional corporate
                    environment, I have gained valuable professional experience
                    through freelance projects and personal initiatives. I've
                    been actively involved in backend development projects,
                    utilizing technologies like Django, which have provided me
                    with practical experience and insights into the industry. My
                    dedication to continuous learning and hands-on practice
                    ensures that I approach every project with a strong
                    foundation of skills and knowledge.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span>
                        Which technologies or tools do you use in your work?</span
                    >
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    I primarily work with Python and Django to develop APIs,
                    leveraging their robust capabilities for backend
                    development. Additionally, I'm proficient in Java for
                    desktop applications and data science tasks. I have
                    experience using AI tools like ChatGPT to streamline routine
                    tasks. Visual Studio Code serves as my primary development
                    environment, and I utilize GitHub for version control,
                    ensuring seamless collaboration and project management.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span>
                        Do you have experience working in remote teams?</span
                    >
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    I have experience collaborating on small team projects
                    remotely. Currently, I'm developing a WhatsApp chatbot to
                    manage appointments with Google Calendar integration, which
                    involves coordination and communication with team members
                    distributed across different locations.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span> What is your availability for projects?</span>
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    I'm fully available for projects and eager to dive into new
                    opportunities!
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary
                    class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                    <span>
                        How do you prefer to be contacted for new projects?</span
                    >
                    <span class="transition group-open:rotate-180">
                        <svg
                            fill="none"
                            height="24"
                            shape-rendering="geometricPrecision"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="24"
                            ><path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="text-[#d3e5d6]/70 mt-3 group-open:animate-fadeIn">
                    You can reach me by email for initial contact, and we can
                    schedule a meeting from there. Alternatively, feel free to
                    connect with me on <a
                        href="https://www.linkedin.com/in/jesuslozadam/"
                        target="_blank"
                        class=" text-[#FF8000]">LinkedIn</a
                    >.
                </p>
            </details>
        </div>
    </div>
</div>

<script>
    // ...
    // extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
