---
const { href, color} = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class=`
    inline-flex 
    items-center 
    justify-center 
    px-3 py-1 ml-1
    text-white
    text-bold 
    transition 
    ${color}
    rounded-xl`
>
  <slot />
</a>