---
import Download from "../icons/Download.astro";
import DownloadButton from "./DownloadButton.astro";

import pdf from "../assets/CV.pdf"

const navItems = [
  {
    title: "Home",
    url: "#home",
  },
  {
    title: "Projects",
    url: "#projects",
  },
  {
    title: "Skills",
    url: "#skills",
  },
  {
    title: "About Me",
    url: "#about",
  },
  {
    title: "FAQs",
    url: "#faqs",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-4"
>
  <nav class="flex rounded-xl">
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 hover:text-[#E6C947]"
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  <div class="absolute right-6 md:visible button">
    <DownloadButton
      href={pdf}
      color="bg-[#FF8000]"
      name="CV-Jesus-Lozada.pdf"
    >
      <Download class="size-4" />
      Download my CV!
    </DownloadButton>
  </div>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  .button {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    .button {
      visibility: visible;
    }
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-800/50 ring-white/10;
    }
  }
</style>
